# Core
node_modules
temp
build
dist
.DS_Store
package.ts

# Sensitive
.env
*.env
*.log
mnemonic.txt
*_test_output.txt
test_output.txt
manual_parsing_test_output.txt

# Vercel
.vercel

# VS Code
.vscode/*
.history/
*.vsix
.idea
Session.vim
.vim/
.nvim/
.emacs/
.helix/
